/* start slider */

.slider__img {
    max-width: 100%;
    height: auto;
    background-size: cover;
}

.swipe-pagination {
    position: relative;
    bottom: 30px;
    left: 0;
    text-align: center;

}

.swipe-pagination-bullet {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--subColor);
cursor: pointer;
}

.swipe-pagination-bullet-active {
    background-color: var(--mainColor);

}
.swipe-pagination-bullet:hover{
    background-color: black;
}
/* end slider */